.country {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    border-radius: 8px;
    grid-gap: 20px;
    color: #4a4a4f;


}

.country_heading {
    box-shadow: inset 2px 2px 5px 0px #4a4a4f;
    background-color: #d7d7db;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    font-weight: 500;

}

.country_details {
    box-shadow: inset 2px 2px 5px 0px #4a4a4f;
    background-color: #d7d7db;
    text-transform: capitalize;
    font-size: 1.5rem;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    border-bottom: 1px solid white;
}

.country_img img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
}

.country_name,
.country_region {
    text-align: center;
}


.country_name {
    font-size: 30px;
    margin: 0 0 5px;
}

.country_row {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.country_value {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;

}

.country_label {
    text-align: center;
    font-size: .75rem;
}

.country_borders {
    width: 100%;
    padding: 20px;
    text-align: center;


}

.borders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    text-align: center;

}

.borders_head {
    text-align: left;
    padding: 20px 0px;
    font-size: 3rem;



}

.border_img img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    min-height: 120px;
    cursor: pointer;


}

@media (max-width: 720px) {
    .country {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        border-radius: 8px;
        padding: 2px;
        box-shadow: inset 2px 2px 5px 0px #4a4a4f;


    }

    .country_details {
        box-shadow: none;

    }

    .country_heading {

        box-shadow: none;


    }
}